body{
    background-color: dodgerblue;
}




#container{

    width: 100%;
    vertical-align: middle;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    text-align: center;


}


#difficultytitle{
    padding-bottom: 2rem;
}




.container{
    width: 100%;
    vertical-align: middle;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    text-align: center;
}

h1{
    text-align:center;
    font-size: 9rem;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 0.3rem ;
    -webkit-text-stroke-color: black;
}


.iconclass{
// border: 2px solid red;

}
#iconimage{
    display: block;
    margin: 0 auto;
    width: 45%;
    height: 40%;
}


.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}



.btn-primary {
    width: 30%;
    border-color: Black;
    border-width: 0.5rem;
    background-color: white;
    color: black;
    font-size: 4rem;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}


/*-----------------------------------------------------------------*/

.container2{
    vertical-align: middle;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.image2 {

    max-width: 70%;
    height: auto;
    width: auto\9; /* ie8 */
    margin: auto;


}



/*------------------------ ROUNDS.HTML------------------------*/


h2{

    text-align:center;
    font-size: 8rem;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 0.3rem ;
    -webkit-text-stroke-color: black;
}



/*---------------------------IMAGESHOWN-------------------*/
.container3{
    width: 100%;
    vertical-align: middle;
    display: block;
    justify-content: center;
    align-items: center;

}

h3{

    text-align:center;
    font-size: 8rem;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 0.3rem ;
    -webkit-text-stroke-color: black;

}

#roundno{
    margin: 2rem;
}

.img{
    max-height: 60vh;
    max-width: 60vw;
    border: 1rem solid white;
    margin-left: 50%;
    margin-right: 50%;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--------------------game.html-----------------------------*/

#countryname{
    position: relative;
    background-color: lightblue;
    width: 100%;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#countryname2{

    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;

}

svg path{
    cursor: pointer;
}



#subtitle{
    font-size: 5rem;
    font-weight: bold;
    -webkit-text-stroke-width: 0.225rem ;
    padding-bottom: 10rem;
}

#playerscore{
    font-size: 4rem;
    font-weight: bold;
    -webkit-text-stroke-width: 0.18rem ;
}




#Progress {
    width: 100%;
    background-color: white;
}

#Bar {
    width: 1%;
    height: 30px;
    background-color: #04AA6D;
}

#answer, #playerGuess
{
    font-size: 4rem;
    font-weight: bold;
    -webkit-text-stroke-width: 0.225rem ;
    padding: 3rem;
}



#container2{
    text-align: center;
}

#infobutton1, #infobutton2{
    display:inline;
}

/*-------- from https://codepen.io/EasyBoarder/pen/LZzzjy ----------*/

* {
    transition: all .2s ease;
}

.extra-info {
    display: none;
    line-height: 1.9rem;
    font-size: 1rem;
    position: absolute;
    top: 0.5rem;
    left: 3.5rem;
}

.info:hover .extra-info {
    display: block;
}

.info {
    font-size: 2rem;
    padding-left: 0.3rem;
    width: 1.25rem;
    border-radius: 1rem;
}

.info:hover {
    background-color: white;
    width: 39rem;
    text-align: left;
}



/*----------------- difficulty icon----------*/


.extra-info2 {
    display: none;
    line-height: 1.9rem;
    font-size: 1rem;
    position: relative;
    top: 0.5rem;
// border: 2px solid green;
}

.info2:hover .extra-info2 {
    display: block;
//border: 2px solid yellow;
}

.info2 {
    font-size: 2rem;
    border-radius: 1rem;
// border: 2px solid blue;
    position: relative;
    width: 5%;
    left:50%;
    top:50%;
    Transform: translate(-50%, -50%);
    margin-top: 3rem;

}

.info2:hover {
    background-color: white;
    width: 20rem;
    text-align: center;
}


#infobuttondifficulty{
// border: 2px solid aquamarine;
    align-content: center;
}




/*----------------- gamemode icon----------*/


.extra-info3 {
    display: none;
    line-height: 1.9rem;
    font-size: 1rem;
    position: relative;
    top: 0.5rem;
// border: 2px solid green;
}

.info3:hover .extra-info3 {
    display: block;
//border: 2px solid yellow;
}

.info3 {
    font-size: 2rem;
    border-radius: 1rem;
// border: 2px solid blue;
    position: relative;
    width: 5%;
    left:50%;
    top:50%;
    Transform: translate(-50%, -50%);
    margin-top: 3rem;

}

.info3:hover {
    background-color: white;
    width: 29rem;
    text-align: center;
}


#infobuttongamemode{
// border: 2px solid aquamarine;
    align-content: center;
}





#block_container
{
    text-align:center;
}
#countries, #flags
{
    display:inline;
}

#flagsbutton {
    font-weight: bold;
    -webkit-text-stroke: 0.2rem;
    width: 28rem;
    height: 28rem;
    margin: 5rem;
    margin-top: 10rem;
    background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url("https://b.kisscc0.com/20180816/ilq/kisscc0-flags-of-the-world-world-flag-national-flag-international-flags-scene-5b7627861b7735.5560956415344700221125.png");

}

#countriesbutton{
    -webkit-text-stroke: 0.2rem;
    font-weight: bold;
    width: 28rem;
    height: 28rem;
    margin: 5rem;
    margin-top: 10rem;
    background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url("https://media.istockphoto.com/id/1390066370/vector/earth-globe-atlantic.jpg?s=612x612&w=0&k=20&c=OSgS4jV5cCOBgk8jv0AUoqawzGhRS6hpBJ496ICELoA=");

}

#whiteline{
    margin-top: 4rem;
    border-top: 1rem solid white;
    border-radius: 1rem;
    width: 40%;
}

#5round{
    padding-bottom: 2rem;
}



#username, #highestscore{
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 0.1rem ;
    -webkit-text-stroke-color: black;
}


#chosencountry{
}

#chosencountry2{
    text-align: center;
    padding-top: 2rem;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 0.05rem ;
    -webkit-text-stroke-color: black;

}



#continue{
    width: 10rem;
    height: 5rem;
    font-size: 2rem;

}



#nextround{
    font-size: 3rem;
}



#tickorcross {
    display: block;
    margin: 0 auto;
    width: 25rem;
    height: 25rem;
    padding-bottom: 2rem;

}



#titlestats{
    margin: 3%;
    text-align:center;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 0.2rem ;
    -webkit-text-stroke-color: black;
}


#chart{
    display: block;
    margin: 0 auto;
    width: 25rem;
    height: 25rem;
}

#return{
    width: 10rem;
    height: 5rem;
    font-size: 2rem;

}

#statbutton{
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    position: fixed;
    bottom: 2%;
    left: 2%;
    background-color: lightblue;
}


#autosavemessage{
    margin: 3%;
    text-align:center;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    -webkit-text-stroke-width: 0.15rem ;
    -webkit-text-stroke-color: black;
}


.Row {
    display: table;
    width: 70%; /*Optional*/
    margin-left: 15%;
    margin-right: 15%;
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column {
    display: table-cell;
    text-align: center;

}

#highest, #lowest, #avg{

    text-align: center;
    padding-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 0.15rem ;
    -webkit-text-stroke-color: black;
}

#highest{
    color: lightgreen;
}

#lowest{
    color: #dc5349;
}

#avg{
    color: lightgrey;
}
