/*

Name: location.css
Purpose: Contains all CSS related to HTML elements of the application.

*/

/*---------------------------Default------------------------*/

/*-- Body Of HTML Pages --*/
body {
    background-color: dodgerblue;
}

/*-- Containers --*/
#container {
    width: 100%;
    vertical-align: middle;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    text-align: center;
}

/*-- Default Button Selectors --*/
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /* set the color you want here */
}

/*---------------------------index.html------------------------*/

/*-- Container including elements --*/
.container {
    width: 100%;
    vertical-align: middle;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    text-align: center;
}

/*-- "Location Guesser" Title --*/
h1 {
    text-align: center;
    font-size: 12vh;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 0.5vh;
    -webkit-text-stroke-color: black;
}

/*-- "LG" Icon Image --*/
#iconimage {
    display: block;
    margin: 0 auto;
    width: 35vh;
    height: 32vh;
}

/*-- "Play" Button --*/
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3.5vh;
}

/*-- "Player Stats" Button --*/
#statbutton {
    width: 20vh;
    height: 6.5vh;
    font-size: 2.5vh;
    position: fixed;
    bottom: 2%;
    left: 2%;
    background-color: lightblue;
}

/*-- "Play" and "Player Stats" Button --*/
.btn-primary {
    width: 25vh;
    height: 10vh;
    border-color: black;
    border-width: 0.8vh;
    background-color: white;
    color: black;
    font-size: 4vh;
}

/*---------------------------gamemode.html------------------------*/

/*-------- Information Button Structure based on https://codepen.io/EasyBoarder/pen/LZzzjy ----------*/

/*-- Info Button Transition  --*/
* {
    transition: all 0.2s ease;
}

/*-- Info Button --*/
#infobuttongamemode {
    align-content: center;
}

/*-- Info Button Data--*/
.extra-info3 {
    display: none;
    line-height: 2.2vh;
    font-size: 1.4vh;
    position: relative;
    top: 1vh;
}

/*-- Info Button Expand On Hover --*/
.info3:hover .extra-info3 {
    display: block;
}

/*-- Info Button Styling--*/
.info3 {
    font-size: 3.5vh;
    border-radius: 1.2vh;
    position: relative;
    width: 5%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3.5vh;
}

/*-- Info Button Expand Colour And Size --*/
.info3:hover {
    background-color: white;
    width: 40vh;
    text-align: center;
}

/*-- Block Container Including Game Mode Buttons --*/
#block_container {
    text-align: center;
}

/*-- Countries And Flags Buttons --*/
#countries,
#flags {
    display: inline;
}

/*-- Flags Button --*/
#flagsbutton {
    font-weight: bold;
    -webkit-text-stroke: 0.2vh;
    width: 40vh;
    height: 40vh;
    margin: 8vh 5vh 5vh;

    /*-- Button background image designed by www.freepik.com --*/
    background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url("https://img.freepik.com/free-photo/close-up-small-greece-flag-isolated_23-2149323143.jpg?t=st=1711383032~exp=1711386632~hmac=8b376d13e3e8b7179c2846e0fa167a0c32f05d79ac04a6428ee27915e5fc268d&w=1060");
}

/*-- Countries Button --*/
#countriesbutton {
    -webkit-text-stroke: 0.2vh;
    font-weight: bold;
    width: 40vh;
    height: 40vh;
    margin: 8vh 5vh 5vh;
    background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url("https://cdn.pixabay.com/photo/2016/04/01/22/32/world-1301744_1280.png");
}

/*-- Player Prompt --*/
#tip2 {
    font-size: 3vh;
    font-weight: bold;
    -webkit-text-stroke-width: 0.13vh;
}

/*---------------------------difficulty.html------------------------*/

/*-- Title --*/
#difficultytitle {
    padding-bottom: 2rem;
}

/*-------- Information Button Structure based on https://codepen.io/EasyBoarder/pen/LZzzjy ----------*/

/*-- Info Button --*/
#infobuttondifficulty {
    align-content: center;
}

/*-- Info Button Data --*/
.extra-info2 {
    display: none;
    line-height: 2.2vh;
    font-size: 1.5vh;
    position: relative;
    top: 1vh;
}

/*-- Info Button Expand On Hover --*/
.info2:hover .extra-info2 {
    display: block;
}

/*-- Info Button Styling--*/
.info2 {
    font-size: 3.5vh;
    border-radius: 1.2vh;
    position: relative;
    width: 5%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3.5vh;
}

/*-- Info Button Expand Colour And Size --*/
.info2:hover {
    background-color: white;
    width: 30vh;
    text-align: center;
}

/*-- Player Prompt --*/
#tip1{
    font-size: 3vh;
    font-weight: bold;
    -webkit-text-stroke-width: 0.13vh;
}

/*---------------------------rounds.html------------------------*/

/*-- Title --*/
h2 {
    text-align: center;
    font-size: 9vh;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 0.4vh;
    -webkit-text-stroke-color: black;
}

/*-- White Line (Split) --*/
#whiteline {
    margin-top: 5vh;
    border-top: 1rem solid white;
    border-radius: 1rem;
    width: 35vh;
}

/*-- Player Prompt --*/
#tip3 {
    font-size: 3vh;
    font-weight: bold;
    -webkit-text-stroke-width: 0.1vh;
    padding-top: 2vh;
}

/*---------------------------imageshown.html------------------------*/

/*-- Container Including API Image and Button --*/
.container3 {
    width: 100%;
    vertical-align: middle;
    display: block;
    justify-content: center;
    align-items: center;
}

/*-- Title Including Round Number--*/
#roundno {
    margin: 2.5vh;
}

/*-- API Image --*/
.img {
    max-height: 60vh;
    max-width: 60vw;
    border: 1vh solid white;
    margin-left: 50%;
    margin-right: 50%;
}

/*-- Div Containing API Image--*/
.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------------------------game.html------------------------*/

/*-- Container Including SVG MAP --*/
.container2 {
    vertical-align: middle;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

/*-- SVG Map --*/
.image2 {
    max-width: 70%;
    height: auto;
    width: auto;
    margin: auto;
}

/*-- Country Selected By Player --*/
#chosencountry2 {
    text-align: center;
    padding-top: 2rem;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: black;
}

/*-- Div Containing countryname2 id --*/
#countryname {
    position: relative;
    background-color: lightblue;
    width: 100%;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-- Country Name On Hover --*/
#countryname2 {
    font-size: 2.5vh;
    font-weight: bold;
    margin: 1.3vh;
}

/*-- SVG Path --*/
svg path {
    cursor: pointer;
}

/*-------- Time Bar Structure based on https://www.w3schools.com/howto/howto_js_progressbar.asp ----------*/

/*-- Time Bar Width And Default Colour --*/
#Time {
    width: 100%;
    background-color: white;
}

/*-- Time Bar Tick Width And Colour --*/
#Bar {
    width: 1%;
    height: 2.5vh;
    background-color: #04AA6D;
}

/*-- Continue Button --*/
#continue {
    width: 15vh;
    height: 8vh;
    font-size: 2vh;
    border-color: black;
    border-width: 0.6vh;
}

/*---------------------------correctorincorrect.html------------------------*/

/*-- Tick Or Cross Icon --*/
#tickorcross {
    display: block;
    margin: 0 auto;
    width: 25vh;
    height: 25vh;
    padding-bottom: 2vh;
}

/*-- Player Guess and Answer --*/
h3 {
    text-align: center;
    font-size: 6vh;
    font-weight: bold;
    color: white;
    margin-top: 5vh;
    -webkit-text-stroke-width: 0.3vh;
    -webkit-text-stroke-color: black;
}

/*-- Player Guess And Answer Padding --*/
#answer,
#playerGuess {
    padding: 1vh;
}

/*-- Next Round / End Button --*/
#nextround {
    width: 20vh;
    height: 8vh;
    font-size: 3vh;
    border-color: black;
    border-width: 0.6vh;
}

/*---------------------------endpage.html------------------------*/

/*-- AutoSave Message --*/
#autosavemessage {
    margin: 3%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    -webkit-text-stroke-width: 0.15rem;
    -webkit-text-stroke-color: black;
}

/*---------------------------playerstat.html------------------------*/

/*-- Title --*/
#titlestats {
    text-align: center;
    font-size: 8vh;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 0.35vh;
    -webkit-text-stroke-color: black;
    padding-top: 10vh;
}

/*-- Return Button --*/
#return {
    width: 15vh;
    height: 8vh;
    font-size: 2.5vh;
    border-color: black;
    border-width: 0.5vh;
}

/*-- Container Including Countries And Flags Buttons --*/
#block_container {
    text-align: center;
}

/*-- Countries Stats And Flags Stats Button --*/
#countries,
#flags {
    display: inline;
}

/*-- Flags Stats Button --*/
#flagsstatbutton {
    font-weight: bold;
    -webkit-text-stroke: 0.2vh;
    width: 40vh;
    height: 20vh;
    margin: 2vh 5vh 5vh;

    /*-- Button background image designed by www.freepik.com --*/
    background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url("https://img.freepik.com/free-photo/close-up-small-greece-flag-isolated_23-2149323143.jpg?t=st=1711383032~exp=1711386632~hmac=8b376d13e3e8b7179c2846e0fa167a0c32f05d79ac04a6428ee27915e5fc268d&w=1060");
}

/*-- Countries Flags Button --*/
#countriesstatbutton {
    -webkit-text-stroke: 0.2vh;
    font-weight: bold;
    width: 40vh;
    height: 20vh;
    margin: 2vh 5vh 5vh;
    background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4)), url("https://cdn.pixabay.com/photo/2016/04/01/22/32/world-1301744_1280.png");
}

/*-- Subtitle (Player Prompt) --*/
#tip4 {
    font-size: 3vh;
    padding-bottom: 2vh;
    font-weight: bold;
    -webkit-text-stroke-width: 0.13vh;
}

/*-- Container Including Prompt And Buttons --*/
#containerstats {
    padding-top: 3vh;
    padding-bottom: 5vh;
}

/*---------------------------playerstatscountries.html & playerstatsflags.html-----------------------*/

/*-- Sub Title "All Rounds" --*/
.smalltitle {
    font-size: 3vh;
    padding-top: 3vh;
    padding-bottom: 1vh;
    font-weight: bold;
    -webkit-text-stroke-width: 0.13vh;
}

/*-- Bock Containers Including All Stats Displayed (Items) --*/
.block_container {
    text-align: center;
}

/*-- Div For Player Stat Item Box --*/
.item {
    display: inline;
}

/*-- Player Stat Box --*/
.item-box {
    color: black;
    font-weight: bold;
    margin: 5vh 10vh 10vh;
    border: 0.5vh solid black;
    font-size: 2.5vh;
    padding-bottom: 2vh;
    -webkit-text-stroke-width: 0.13vh;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke: 0.1vh;
    width: 25vh;
    height: 25vh;
    border-radius: 2vh;
    text-align: center;
}

/*-- Player Progress Chart --*/
#chart{
    display: flex;
    padding: 1vh 2vh 1vh 1vh;
    margin: 2vw auto;
    width: 30vw;
    height: 25vw;
    background-color: white;
    border: 0.5vh solid black;
}

/*-- Return Buttons --*/
#returntostatscountry,
#returntostatsflags {
    width: 20vh;
    height: 6.5vh;
    font-size: 2.5vh;
    position: fixed;
    bottom: 2%;
    left: 2%;
}
